body {
    background-color:darkslateblue;
    text-align: center;

}

.header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.button {
    text-align: center;
    margin: 1% auto;
    
}

.radio-button {
    text-align: center;
    /* margin: 3% auto; */
    font-family: 'Times New Roman', Times, serif;
}

#divOutput {
    background-color: #fff;
    width: 300px;
    margin: auto;
}